@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* 반응형 구현 후에 */
/* body {
    width: 100%;
    overflow-x: hidden;
} */

/* txt */
.strong-txt {
    display: block;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
}

.normal-txt {
    display: block;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
}

/* button */
.btn-component {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background: #d97652;
    color: #fff;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

/* header */
.header {
    display: flex;
    width: 100%;
    height: 102px;
    background: #f2e9d8;
    position: relative;
}

.home-logo {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 15%;
    top: 31px;
}

.nav-menu {
    display: flex;
    position: absolute;
    top: 26px;
    right: 15%;
    align-items: center;
    padding: 0px;
}

.list-menu {
    display: flex;
    font-family: Spoqa Han Sans Neo, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.link-menu {
    margin-left: 30px;
}

.list-menu+.btn-component {
    margin-left: 40px;
}

/* page1 */
.page1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f2e9d8;
    width: 100%;
    height: 798px;
}

.page1-txt>p {
    margin-bottom: 40px;
}

.page1-txt .strong-txt {
    width: 737px;
    height: 120px;
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 60px;
}

.page1-txt .normal-txt {
    width: 439px;
    height: 86px;
    font-size: 16px;
    line-height: 20px;
}

.page1-img {
    width: 360px;
}

/* page2 */
.page2 {
    height: 798px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

.page2 .page2-img-txt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}

.page2-img-txt .page2-img {
    width: 660px;
    height: 390px;
    margin-right: 110px;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.page2-img-txt .page2-txt {
    width: 510px;
    height: 170px;
}

.page2-txt .strong-txt {
    font-size: 36px;
    line-height: 45px;
}

.page2-txt .normal-txt {
    width: 739px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
}

.page2>.page2-txt {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.page2>.page2-txt>.strong-txt {
    font-size: 48px;
    line-height: 60px;
    color: #d97652;
}

/* page3 */
.page3 {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.page3-img {
    display: flex;
    justify-content: center;
}

.page3-img>img {
    width: 378px;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    margin-right: 40px;
}

.page3-txt {
    display: flex;
    margin-top: 90px;
}

.page3-txt .normal-txt {
    width: 739px;
    height: 64px;
    margin-right: 40px;
}

/* page4 */
.page4 {
    /* position: relative; */
    display: flex;
    flex-flow: column;
    align-items: center;
}

.subscribe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 90px;
    width: 1280px;
    height: 200px;
    background: #263140;
    border-radius: 30px;
    z-index: 10;
}

.subscribe .strong-txt {
    width: 466px;
    height: 46px;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
}

.subscribe .normal-txt {
    width: 491px;
    height: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.form-wrab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 530px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 60px;
}

.form-wrab::before {
    /* .subscribe - 부모 */
    background-image: url("./img/mail.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 550px;
    top: 88px;
    width: 25px;
    height: 25px;
    content: "";
}

.back-img {
    /* position: absolute; */
    /* top: 196px; */
    width: 100%;
    /* z-index: -1; */

    /* height: 900px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 60%, rgba(242, 233, 216, 0.6) 40%), url(./img/img_5.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

/* footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
}

.footer>img {
    width: 226px;
}

.area-sns {
    width: 228px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.sns-icon {
    width: 42px;
    height: 42px;
    background: #F29D52;
    border-radius: 50%;
}